@import "tailwindcss";

:root {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-oxygen: "Oxygen", sans-serif;
    --primary-color: #ffa41f;
    --secondary-color: #e99375;
    --vital-color: #fff5e7;
  }

  /*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oxygen);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
}

*/
  body {
    background: var(--background);
    color: var(--foreground);

    font-family: var(--font-oxygen);
  }

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .bg-signup {
    background-image: url("/img/signup-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -40px 150px;
    background-color: #1f2328;
  }
}
